body {
  background-image: url('../assets/bubble.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 1.8em;
  color: red;

}

#bubble-sort {
  position: relative;
  background-color: rgba(255,255,255,0.6);
  margin: auto;
  box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.3);
  height: 600px;
  width: 1200px;
  padding: 10px 10px 10px 10px;
  border-radius: 8px;
}



.bubble-sort {
  height: 4px;
  margin: 2px;
  background: -webkit-linear-gradient(left, red, yellow);

}

#sortButton {
  height: 35px;
  width: 70px;
  border: 3px solid black;
  text-align: center;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .8);
  color: blue;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: .75em;
}